In [1]:
import pandas as pd
from rdkit.Chem import MolFromSmiles

In [2]:
df = pd.read_csv('final_dataset_logbb_mod.csv')

In [3]:
df.shape

(1373, 6)

In [4]:
df_charged = df[df['FORMAL_CHARGE_unch'] != 0]

In [5]:
df_charged.shape

(15, 6)

In [6]:
df_charged.head(5)

,SMILES,Activity,Source,Agglomeration,SMILES_uncharge,FORMAL_CHARGE_unch
56,NCc1c[n+]2ccccc2[nH]1,-1.40,['B3DB'],False,NCC1=C[N+]2=CC=CC=C2N1,1
105,CCCCCCCCCCCCCCCCOP(=O)(O)OCC[N+](C)(C)C,-1.14,['B3DB'],False,CCCCCCCCCCCCCCCCOP(=O)(O)OCC[N+](C)(C)C,1
135,COc1cc(N)cn[n+]1-c1ccccc1,-1.00,['B3DB'],False,COC1=CC(N)=CN=[N+]1C1=CC=CC=C1,1
187,Cc1c(CCOC(=O)c2cc(=O)c3c(Cl)cc(Cl)cc3[nH]2)sc[...,-0.78,['B3DB'],False,CC1=C(CCOC(=O)C2=CC(=O)C3=C(Cl)C=C(Cl)C=C3N2)S...,1
198,Cc1cn(C2CC(N=[N+]=N)C(CO)O2)c(=O)[nH]c1=O,-0.72,['B3DB'],False,CC1=CN(C2CC(N=[N+]=N)C(CO)O2)C(=O)NC1=O,1

In [7]:
index_sm = df.index.tolist()

In [8]:
print(index_sm[:5])

[0, 1, 2, 3, 4]

In [9]:
sm = df['SMILES_uncharge'].values
sm

array(['CCNC(=NCCSCC1=NC=CC=C1Br)NC#N',
       'CN1CC[C@]23C4=C5C=CC(OC6O[C@H](C(=O)O)[C@@H](O)[C@H](O)[C@H]6O)=C4O[C@H]2[C@@H](O)C=C[C@H]3[C@H]1C5',
       'CS(=O)(=O)N(CCO)C1=C(Cl)C(Cl)=CC2=C1NC(=O)C(=O)N2', ...,
       'CC(=O)OC1C(=O)C2(C)C(O)CC3OCC3(OC(C)=O)C2C(OC(=O)C2=CC=CC=C2)C2(O)CC(OC(=O)C(O)C(NC(=O)C3=CC=C(F)C=C3)C3=CC=CC=C3)C(C)=C1C2(C)C',
       'COC1=CC=C(C(C)C)C=C1CNC1CCCNC1C1=CC=CC=C1',
       'CN(C)CCOC(C1=CC=CC=C1)C1=CC=CC=C1'], dtype=object)

In [10]:
cl = df[df['SMILES_uncharge'] == '[O-][Cl+3]([O-])([O-])O']
cl

Empty DataFrame
Columns: [SMILES, Activity, Source, Agglomeration, SMILES_uncharge, FORMAL_CHARGE_unch]
Index: []

In [11]:
list_inorg_el = ['Al', 'Au', 'Ar,''Ba', 'Be', 'Bi', 'Ca','Cd', 'Co','Cr','Cu','Fe', 'Gd','Ge', 'Hf',
                 'Hg', 'In', 'K', 'Kr' 'La', 'Mg', 'Mn', 'Na', 'Ni', 'Pb', 'Pt', 'Sb', 'Sn','Sr','Te',
                 'V','Zn', 'Li', 'Xe', 'Rn', 'Ne']
index_drop = []
uniq_el = set([])
for sm_i in range(len(sm)):
    mol_sm = MolFromSmiles(sm[sm_i])
    list_at = [str(x.GetSymbol()) for x in mol_sm.GetAtoms()]
    intersec = list(set(list_at) & set(list_inorg_el))
    T_C = 'C' in list_at
    if T_C == False:
        index_drop.append(index_sm[sm_i])
        print('smiles', sm[sm_i])
    elif len(intersec) > 0:
        index_drop.append(index_sm[sm_i])
        print('intersection', intersec)
    uniq_el = uniq_el | set(list_at)

smiles [Li]
smiles [Kr]
smiles O
smiles N#N
smiles [Ar]
smiles [N-]=[N+]=O
smiles N#[N+]O
smiles NN
smiles [Xe]
smiles [Ne]
smiles FS(F)(F)(F)(F)F
smiles N#[N+][O-]
smiles [Rn]

In [12]:
uniq_el

{'Ar',
 'B',
 'Br',
 'C',
 'Cl',
 'F',
 'I',
 'Kr',
 'Li',
 'N',
 'Ne',
 'O',
 'P',
 'Rn',
 'S',
 'Xe'}

In [13]:
index_drop

[354, 433, 517, 565, 566, 567, 569, 570, 571, 671, 774, 1118, 1286]

In [14]:
len(index_drop)

13

In [15]:
df.drop(index=index_drop, inplace=True)

In [16]:
df.describe()

          Activity  FORMAL_CHARGE_unch
count  1360.000000         1360.000000
mean     -0.079596            0.011029
std       0.772150            0.111299
min      -2.690000            0.000000
25%      -0.590000            0.000000
50%      -0.020000            0.000000
75%       0.460000            0.000000
max       1.700000            2.000000

In [17]:
df[df['FORMAL_CHARGE_unch'] == 5]

Empty DataFrame
Columns: [SMILES, Activity, Source, Agglomeration, SMILES_uncharge, FORMAL_CHARGE_unch]
Index: []

In [18]:
df[df['FORMAL_CHARGE_unch'] == -1]

Empty DataFrame
Columns: [SMILES, Activity, Source, Agglomeration, SMILES_uncharge, FORMAL_CHARGE_unch]
Index: []

In [19]:
len(df.duplicated(subset=['SMILES_uncharge'], keep=False))

1360

In [20]:
df_dupl = df[df.duplicated(subset=['SMILES_uncharge'], keep=False)]
df_dupl = df_dupl.sort_values(by=['SMILES_uncharge'])
df_dupl.to_csv('BBB_dupl.csv', index=False)
df_dupl

,SMILES,Activity,Source,Agglomeration,SMILES_uncharge,FORMAL_CHARGE_unch
1310,Brc1cc(Br)c(NC2=[NH+]CCN2)c(Br)c1,0.58,['Tevosyan'],False,BrC1=CC(Br)=C(NC2=NCCN2)C(Br)=C1,0
850,Brc1cc(Br)c(NC2=NCCN2)c(Br)c1,0.58,['B3DB'],False,BrC1=CC(Br)=C(NC2=NCCN2)C(Br)=C1,0
735,Brc1cccc(Br)c1NC1=NCCN1,0.33,['B3DB'],False,BrC1=CC=CC(Br)=C1NC1=NCCN1,0
1332,Brc1cccc(Br)c1NC1=[NH+]CCN1,0.33,['Tevosyan'],False,BrC1=CC=CC(Br)=C1NC1=NCCN1,0
1307,c1cc(C[NH+]2CCCCC2)cc(OCCCNc2nc3ccccc3o2)c1,0.22,['Tevosyan'],False,C1=CC(CN2CCCCC2)=CC(OCCCNC2=NC3=CC=CC=C3O2)=C1,0
...,...,...,...,...,...,...
526,OCCCOc1cccc(CN2CCCCC2)c1,-0.02,['B3DB'],False,OCCCOC1=CC=CC(CN2CCCCC2)=C1,0
1233,OCC[NH+]1CC[NH+](CCCN2c3ccccc3Sc3ccc(C(F)(F)F)...,1.52,['Tevosyan'],False,OCCN1CCN(CCCN2C3=CC=CC=C3SC3=CC=C(C(F)(F)F)C=C...,0
1049,OCCN1CCN(CCCN2c3ccccc3Sc3ccc(C(F)(F)F)cc32)CC1,1.50,['B3DB'],False,OCCN1CCN(CCCN2C3=CC=CC=C3SC3=CC=C(C(F)(F)F)C=C...,0
1368,OCCOCC[NH+]1CC[NH+](C(c2ccccc2)c2ccc(Cl)cc2)CC1,0.28,['Tevosyan'],False,OCCOCCN1CCN(C(C2=CC=CC=C2)C2=CC=C(Cl)C=C2)CC1,0
769,OCCOCCN1CCN(C(c2ccccc2)c2ccc(Cl)cc2)CC1,0.40,['B3DB'],False,OCCOCCN1CCN(C(C2=CC=CC=C2)C2=CC=C(Cl)C=C2)CC1,0

In [21]:
df.drop_duplicates(subset=['SMILES_uncharge'], inplace=True)

In [22]:
df

,SMILES,Activity,Source,Agglomeration,SMILES_uncharge,FORMAL_CHARGE_unch
0,CCNC(=NCCSCc1ncccc1Br)NC#N,-2.15,['B3DB'],False,CCNC(=NCCSCC1=NC=CC=C1Br)NC#N,0
1,CN1CC[C@]23c4c5ccc(OC6O[C@H](C(=O)O)[C@@H](O)[...,-2.15,['B3DB'],False,CN1CC[C@]23C4=C5C=CC(OC6O[C@H](C(=O)O)[C@@H](O...,0
2,CS(=O)(=O)N(CCO)c1c(Cl)c(Cl)cc2[nH]c(=O)c(=O)[...,-2.15,['B3DB'],False,CS(=O)(=O)N(CCO)C1=C(Cl)C(Cl)=CC2=C1NC(=O)C(=O)N2,0
3,CN1CC[C@]23c4c5ccc(O)c4O[C@H]2[C@@H](OC2O[C@H]...,-2.09,['B3DB'],False,CN1CC[C@]23C4=C5C=CC(O)=C4O[C@H]2[C@@H](OC2O[C...,0
4,O=C1CN(/N=C/c2ccc([N+](=O)[O-])o2)C(=O)N1,-2.09,['B3DB'],False,O=C1CN(/N=C/C2=CC=C([N+](=O)[O-])O2)C(=O)N1,0
...,...,...,...,...,...,...
1354,Clc1cc(Br)cc(Cl)c1N=C1NCCN1,0.41,['Tevosyan'],False,ClC1=CC(Br)=CC(Cl)=C1N=C1NCCN1,0
1362,O=C(O)COCCN1CCN(C(c2ccccc2)c2ccc(Cl)cc2)CC1,-1.83,['Tevosyan'],False,O=C(O)COCCN1CCN(C(C2=CC=CC=C2)C2=CC=C(Cl)C=C2)CC1,0
1364,CC(Nc1cc(-c2c(-c3cccc(C(F)(F)F)c3)nc(C3CCNCC3)...,0.01,['Tevosyan'],False,CC(NC1=CC(C2=C(C3=CC=CC(C(F)(F)F)=C3)N=C(C3CCN...,0
1365,CC(C)CC1C(=O)N2CCCC2C2OC(NC(=O)C3C=C4c5cccc6[n...,-0.59,['Tevosyan'],False,CC(C)CC1C(=O)N2CCCC2C2OC(NC(=O)C3C=C4C5=CC=CC6...,0
1370,CC(=O)OC1C(=O)C2(C)C(O)CC3OCC3(OC(C)=O)C2C(OC(...,0.19,['Tevosyan'],False,CC(=O)OC1C(=O)C2(C)C(O)CC3OCC3(OC(C)=O)C2C(OC(...,0

In [23]:
df.shape

(1178, 6)

In [24]:
df = df.reset_index(drop=True)

In [25]:
df[df.Activity < -1.99].shape

(16, 6)

In [26]:
df[df.Activity < -1].shape

(152, 6)

In [27]:
df[df.Activity > 1].shape

(61, 6)

In [28]:
df[df.Activity > 1.39].shape

(13, 6)

In [29]:
mean_ac = df.Activity.mean()
mean_ac

-0.11056876061120538

In [30]:
std_ac = df.Activity.std()
std_ac

0.7613016616242445

In [31]:
mean_ac - 2 * std_ac

-1.6331720838596944

In [32]:
df[df.Activity < -1.633].shape

(38, 6)

In [33]:
mean_ac + 2 * std_ac

1.4120345626372837

In [34]:
df[df.Activity > 1.41].shape

(10, 6)

In [35]:
df = df[(df.Activity < (mean_ac + 2 * std_ac)) & (df.Activity > (mean_ac - 2 * std_ac))]
df.shape

(1130, 6)

In [36]:
df.to_csv('final_dataset_logbb_mod_2.csv', index=False)